@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh; /* Prend au moins toute la hauteur de l'écran */
    margin: 0; /* Supprime la marge par défaut */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(to right, #91d1f3 0%, #d3eefb 100%);
}
